<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="UTF-8" />
  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/home.css" />
  <title>Home</title>
</head>

<body>
  <header class="header">
    <h3 class="item_first">Hello <%= name %></h3>
    <button class="Login item_second" id="Logout">Logout</button>
    <div class="logo">
      <h1>LOREM & IPSUM</h1>
      <h4>An Original Brand Since 1965</h4>
    </div>
    <nav>
      <a class="logo_nav" href="/model-base/"><span class="logo_nav_text">My models</span></a>
      <a class="logo_nav" href="/upload/"><span class="logo_nav_text">Ray tracing</span></a>
    </nav>
  </header>
  <script src="/js/personalPage.js"></script>
</body>

</html>
